body
{
font-size: 70%;
color:#000000;
background-color:#f1f1f1;
margin:0px;
}

body, p, h1, h2, h3, table, td, th, ul, ol, textarea, input
{
font-family: verdana,helvetica,arial,sans-serif;
}

table, input, textarea
{
font-size: 100%;
}

h1 {font-size:160%;}
h2 {font-size:120%;margin-top:10px;margin-bottom:10px;}
h3 {font-size:110%;}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

.cmd
{
color: #10105F;
font-weight: bold;
}

h4
{
color: #AF1A1A;
font-weight: bold;
font-size: large;
}

h2.header
{
margin-top:0px;
margin-bottom:5px;
font-size:110%;
padding-top:0px;
padding-bottom:1px;
padding-left:4px;
color:#ffffff;
background-color:#808080;
}


h1, h2, h3
{
background-color:transparent;
color:#000000; 
}


hr
{
background-color:transparent;
color:#000000;
height:1px;
}


a.nounderline{text-decoration:none}

a:link    {color:#900B09; background-color:transparent}
a:visited {color:#900B09; background-color:transparent}
a:active  {color:#FF0000; background-color:transparent}
a:hover   {color:#FF0000; background-color:transparent}

a.left:link    {text-decoration:none;color:black;background-color:transparent}
a.left:visited {text-decoration:none;color:black;background-color:transparent}
a.left:hover   {text-decoration:underline;color:#900B09;background-color:transparent}
a.left:active  {text-decoration:underline;color:#900B09;background-color:transparent}
